h1 {
    background-color: rgb(213, 215, 216);
    text-align: center;
  }
  div {
    background-color: #363940;
  }
  
  p {
    background-color: whitesmoke;
  }
  body {
    background: #FFFFFF;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }